{% load i18n %}
{% load social_tags %}

<div class="toggler">
    {{ dropdown }}:
    <div class="counter">
        {{ counter }}
    </div>
</div>
<div class="dropdown inner hidden">
{% if notifications|length == 0 %}
    <div class="empty">
        {% trans 'You have not received any notification yet' %}
    </div>
{% else %}
    <div class="list">
    {% for notification in notifications %}
        <div class="notification" id="social_notification_{{ notification.timestamp }}">
            {% social_notification_render notification 'dropdown' %}
        </div>
    {% endfor %}
    </div>
    <div class="more">
        <a href="{% url social_dropdown_more %}?{% for q in queues %}&q={{ q|urlencode }}{% endfor %}">
            {% trans 'See all notifications' %}
        </a>
    </div>
{% endif %}
</div>
