{% load i18n %}
{% load social_yourlabs_tags %}

<style type="text/css">
.social div {
    display: inline-block;
}
.social .hidden {
    display: none;
}
.social .dropdown {
    overflow: visible;
    position: absolute;
    z-index: 100;
    width: 330px;
    background-color: white;
}
.social .list .notification {
    display: block;
}
</style>

<div class="social widgets">
{% for queue_name, queue in queues.items %}
    
    <div class="queue {{ queue_name }}" id="social_queue_{{ queue_name }}">
        <div class="toggler">
            {{ queue_name }}:
            <div class="count unacknowledged">
                {{ queue.counts.unacknowledged }}
            </div>
        </div>
        <div class="dropdown hidden">
            {% with notifications=queue.notifications counts=queue.counts %}
                {% include 'social/dropdown.html' %}
            {% endwith %}
        </div>
    </div>
{% endfor %}
</div>

